<%- layout("/layouts/mainboilerplate.ejs")%>
<body>
<div>
    <img src="underimage.jpg" class="img-fluid" alt="..." height="80px">
</div>
<div class="card-img-overlay">
        <h1 class="display-1">WELCOME TO Apan Intern......</h1>
        <p class="lead-1"> Your Gateway to Better Opportunities!</p>
</div>
<div class="secondpage">
    <p class="heading-1">
        Your Gateway to Better Opportunities!
    </p>
    <p class="body-1">
        At APAN INTERN, we connect job seekers with top employers across various industries. Whether you're a fresh graduate looking for your first job or a seasoned professional seeking your next career move, we make your job search simple, smart, and successful.
    </p>
</div>
<div class="thirdpage">
        <div class="offer-body">
            <span class="heading-2">What We Offer:</span>
            <p class="body-2">
                🔍 Advanced job search filters to find roles that match your skills and interests
                <br>
                📝 Easy resume uploads and application tracking
                <br>
                🧠 Career resources, resume tips, and interview guidance
                <br>
                💼 Verified job listings from trusted employers
                <br>
            </p>
            <h4> Join thousands of job seekers who have taken the next step in their careers with us. Start your journey today</h4>

        </div>
       <img src="Screenshot 2025-05-22 135737.png" class="rounded float-end" alt="...">
</div>
<br>
<br>
<div class="container-job">
    <span class="heading-2 job">Explore internships</span>
    <div class="show-list p-3 mb-3 ">
        <div class="row">
            <% for(let i=0 ;i<3;i++){ %>
            <div class="card mx-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= internships[i].title %></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%= internships[i].internshiptype %></h6>
                    <p class="card-text"><%= internships[i].location %></p>
                    <p class="card-text"><%= internships[i].stipend %>/month</p>
                    <a href="/student/internship/<%=internships[i]._id%>" class="btn btn-outline-primary mt-2">Details</a>
                </div>
            </div>
         <% } %>
        <div class="col more-option"><a href="/student/internship" class="btn btn-outline-primary">more</a></div>
        </div>
    </div>
    <br>
    <span class="heading-2 job">Explore Jobs</span>
    <div class="show-list p-3 mb-5">
        <div class="row">
            <% for(let i=0 ;i<3;i++){ %>
            <div class="card mx-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= jobs[i].title %></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%= jobs[i].jobType %></h6>
                    <p class="card-text"><%= jobs[i].location %></p>
                    <p class="card-text"><%= jobs[i].salaryRange.min%>-<%= jobs[i].salaryRange.max%>/month</p>
                    <a href="/student/job/<%=jobs[i]._id%>" class="btn btn-outline-primary mt-2">Details</a>
                </div>
            </div>
            <% } %>
            <div class="col more-option"><a href="/student/job" class="btn btn-outline-primary">more</a></div>
        </div>
        
    </div>
</div>


</body>